
BiometryCloud.xcodeproj/project.xcworkspace/xcuserdata/amunita.xcuserdatad/UserInterfaceState.xcuserstate

BiometryCloud.xcodeproj/project.xcworkspace/xcuserdata/amunita.xcuserdatad/WorkspaceSettings.xcsettings

BiometryCloud.xcodeproj/xcuserdata/amunita.xcuserdatad/xcschemes/xcschememanagement.plist

BiometryCloud/.DS_Store

BiometryCloud/iPhone/.DS_Store

BiometryCloud.xcodeproj/xcuserdata/amunita.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
